@use '../style/fonts';
@use '../style/colors';
@use '../style/spacing';

output.currency {
    @include spacing.v-padding(2px);
    @include spacing.h-padding(0.5em);
    background-color: colors.$output_color;
    font-family: fonts.$currency;
    text-align: right;

    border-radius: 0.5em;
}
