@use '../style/fonts';
@use '../style/colors';

input {
    &[type="number"] {
        text-align: right;
        font-size: 1em;
        width: 10em;
        font-family: fonts.$input;

        background-color: colors.$input;
        border-radius: 0.5em;
        border-style: outset;

        &:blank {
            background-color: colors.$invalid_input;
        }
    }

    &:disabled {
        border-style: solid;
    }
}
