@use '../style/grid';
@use '../style/spacing';

label {
    display: block;

    @include grid.equal-grid(2);
    grid-template-areas:
        "name input"
        "help help";
    row-gap: 0.05em;
    align-items: center;

    strong {
        grid-area: name;
        padding-right: 2em;
    }

    > .input {
        grid-area: input;
        justify-self: flex-end;
    }

    p.help {
        @include spacing.h-margins(0.5em);
        grid-area: help;
        display: block;

        font-size: 0.8em;
    }
}
