@use './style/grid';
@use './style/spacing';

main {
    @include grid.equal-grid(2);
    column-gap: 2em;
    align-items: baseline; // https://melanie-richards.com/blog/css-grid-sticky/

    @include spacing.h-margins(1em);
    @include spacing.children(spacing.$large_children);

    > header {
        grid-column: span 2;
        position: sticky;
        top: 0;
        // Sticky background is "transparent" by default
        background-color: white;
    }

    > section {
        &.both,
        &#breakdown {
            grid-column: span 2;
        }

        &.both {
            width: 700px;
            @include spacing.h-margins(auto);
        }
    }
}
