#breakdown {
    border-top: black 2px solid;

    > * {
        margin-top: 1em;

        &:first-child {
            margin-top: 0.5em;
        }
    }

    .initial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;

        > h4 {
            grid-column: span 2;
        }
    }

    .year {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;

        margin-top: 1em;

        summary {
            margin-bottom: 0.5em;
            grid-column: span 2;
        }
    }

    ol {
        list-style: none;

        li {
            padding-top: 1em;

            > table {
                margin-top: 0.5em;
            }
        }
    }
}
