@use './style/grid';
@use './style/spacing';
@use './style/column';

#breakdown {
    @include column.h-centered();

    border-top: black 2px solid;

    @include spacing.children(spacing.$large_children);

    .initial {
        @include grid.equal-grid(2);
        column-gap: 1em;

        > h4 {
            grid-column: span 2;
        }
    }

    .year {
        @include grid.equal-grid(2);
        column-gap: 1em;
    }
}
