// Other files to build
@use './style/fieldset.scss';
@use './style/aside.scss';
@use './style/button.scss';

@use './style/spacing';
@use './style/icon';
@use './style/fonts';
@use './style/row';

$default_font_size: 18px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: min(100%, 900px);
    @include spacing.h-margins(auto);

    font-family: fonts.$text;
    font-size: $default_font_size;
    line-height: $default_font_size;

    box-shadow: 0 0 20px 5px darken($color: white, $amount: 10%);

    > footer {
        @include row.v-centered();
        justify-content: space-around;
        min-height: 4em;

        a.github {
            @include row.v-centered();

            &::before {
                @include icon.before(url("../GitHub-Mark-32px.png"));
            }
        }
    }
}

#preamble {
    @include spacing.children(spacing.$large_children);
    @include spacing.h-padding(1em);
    padding-top: 1em;

    ul {
        padding-left: 3em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
