@use './style/spacing';

.places {
    @include spacing.children(spacing.$normal_children);
    display: flex;
    flex-direction: column;
    align-items: center;

    > ol {
        list-style-type: none;

        @include spacing.children(spacing.$large_children);
    }
}
