@use './style/grid';

section.taccount {
    @include grid.equal-grid(4);
    column-gap: 0.25em;

    border: black 1px solid;

    padding: 0.2em;

    strong {
        font-size: medium;
    }

    > footer {
        @include grid.subgrid();
        grid-column: span 4;

        border-top: black 1px solid;
        padding-top: 0.2em;

        text-align: right;

        > * {
            grid-column: span 2;
        }
    }

    header {
        @include grid.subgrid();
        grid-column: span 4;
        text-align: center;

        > * {
            grid-column: span 2;
        }
    }

    .left,
    .right {
        @include grid.subgrid();
        grid-column: span 2;
    }

    .left .account {
        grid-column: 1 / span 2;
    }
    .right .account {
        grid-column: 1 / span 2;
    }

    .account {
        @include grid.subgrid();
        // grid-column: span 2;

        padding-left: 10px;
    }

    .account > :nth-child(2) {
        text-align: right;
    }
}
